/* ========== GCP Variables ========== */

google_application_credentials = "./private/gcp-credentials.json"
service_account_id             = ""

project_name = ""
project_id   = ""
project_num  = ""
region       = ""
zone         = ""

repo_name    = "builds"

root_api_token      = ""
analyzer_sentry_dsn = ""
