# gcp
google-cloud-logging
google-cloud-pubsub
google-cloud-storage

# git interactions
GitPython
PyGithub

# web
Flask
requests
gunicorn
sqlalchemy
sentry-sdk[flask]
python-dotenv==0.19.2
psycopg2-binary==2.9.3

# analysis
lief
clamd
ssdeep
vt-py
